<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Details Provider | rain, cold, snow, heat</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
</head>
<body>
    <div id="main">
        <div id="search">
            <div id="searchBar">
                <form action="/" method="post">
                    <input type="text" placeholder="Enter Your City Here" id="searchInput" name="city" required autocomplete="off">
                    <select name="unit" id="selection" name="unti">
                        <option value="standard" class="units">Standard</option>
                        <option value="metric" class="units">Metric</option>
                        <option value="imperial" class="units">Imperial</option>
                    </select>
                    <input type="submit" id="submit">
                </form>
            </div>
        </div>
        <div id="mainBody">
            <div id="tagline">
                <h1>Looking For <br>Weather Updates ?</h1>
                <h5>You are at the right place.</h5>
            </div>
            <video src="/images/eeb478990310f4a06dfbabd631b8ca6c.mp4" autoplay muted loop></video>
        </div>
    </div>
</body>
</html>